html, body, nav {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 100%;

}
html{
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
header{
    width: inherit;
    top: 0;
    margin-top: 0%;
    padding-top: 0%;
    text-align : center; 
    position: fixed;
    height: 15%;
    left: 0;
}
footer{
    background: #696969;
    bottom: 0;
    position: absolute;
    width: 100%;
}

body{
    background: white;
    color: #222222;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default;
}

ul{
    top: 0;
    margin-top: 0%;
    padding-top: 0%;
    width: 20%;
    float: left;
}
li{
    list-style-type:none;
    text-decoration: none;
}
body, p {
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;}

.btn_nav_text{
    color: #999;
    font-size: 0.9rem;
    font-weight: 100;
    text-align: center;
    font-family: 'ff-dax-web-pro', sans-serif;
    background: none;
    padding: 0 .6rem 0 .6rem;
    line-height: 4rem;
    display: block;
    width: 100%;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.btn_nav_left{
    margin-left: 15%;
    margin-right: 0;
    margin-top: 0;
    padding-top: 0%;
    position: static;
    float: left;
}
.btn_nav{
    margin-left: 10%;
    padding-top: 0%;
    margin-top: 0;
    margin-bottom: 0;
    position: static;
    float: right;
}
.meu-personal{
    float: left;
    width: 50%;
    display: inline;
}
.ourbus{
    width: 50%;
    float: right;
    
}
text-projects{
    margin-top: 25%;
}

img{
    max-width:100%;
	height:auto;
    padding-top: 0%;
}

.projetos{
    padding-bottom: 0%;
    background: white;
    height: 20%;
}


.menu-bar{
    position: static;
    width: 800%;
    height: 45px;
    margin-top: 0%;
    background: currentColor;
    line-height: 4rem;
    min-height: 4rem;
    display: block;
    box-sizing: border-box;
   

}
.nav{
    padding-top: 0%;
    border-left: 5%;
    display: inline;
     
}
.navbar{
    padding-top: 0%;
    float: left;
    border-left: 5%;
    width: 46.8%;
}

.img-projects{
    width: 20%;
    height: auto;
}

h3{
    color: currentColor;
    padding-bottom: 5%;
    padding-top: 5%;
    text-align: center;
    text-align: center;
    font-family:fantasy;
}

h2{
    color: currentColor;
    text-align: center;
    font-family:fantasy;
}

h1{
    color: currentColor;
    padding-bottom: 3%;
    text-align: center;
    font-family:fantasy;
    font-size: 48px;
    padding-top: 3%;
}
.row-fluid-main {
    background-image: url('');
    background-repeat: no-repeat;
    background-size:100%;
    background-attachment: fixed;
    color: black;
    left: 0;
    padding-bottom: 40%;
    right: 0;
    text-align: center;
    background-size: cover;
    margin-top: 7.5%;
    height: 20%;
}
.sprite-facebook{
    float: left;
    padding-left: 5%;
    padding-right: 5%;
}
.sprite-twitter{
    float: left;
    padding-right: 5%;
}
.sprite-youtube{
    float: left;
    right: 0;
}
.social{
    margin-top: 1%;
    display: inline-block;
    float: right;
    padding-bottom: 3%; 
}
.logo-footer{
	height:60px;
}

.left{
    padding-top: 3%;
}
.right{
    padding-top: 3%;
}
.button4{
    background-color: #808080; /* Green */
    border: none;
    color: black;
    margin-top: 7px;
    padding: 7px 24px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 11px;    
    width: 60%;
}
#menubar li {
    list-style-type:none;
    text-decoration: none;
}
a {
    text-decoration: none;
    cursor: auto;
    color: blue;
}
#menubar li a { 
    text-decoration: none;
    font-style: normal;
    font-family: sans-serif;
    font-weight: lighter;
}
/* Smartphones (portrait and landscape) ———– */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ———– */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ———– */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ———– */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}
/* iPads (landscape) ———– */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ———– */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ———– */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ———– */
@media only screen
and (min-width : 1824px) {
/* Styles */
}
/* iPhone 4 ———– */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}